.container {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
}
  
.shoppingCart {
    height: 3em;
    will-change: filter;
    transition: filter 300ms;
}
  
.productsCount {
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 1.5em;
    top: 2px;
    color: rgb(255, 166, 0);
    background-color: white;
    border-radius: 50%;
    padding:3px;
    margin-right: 55px;
}
.productsCountZero{
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 1.5em;
    top: 2px;
    color: rgb(255, 166, 0);
    background-color: none;
    border-radius: 50%;
    padding:3px;
    margin-right: 55px;
}
