.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paymentForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputField{
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: left;
}

.labelAndInput{
    display: grid;
    margin: 10px;
}

.cartItemPrice{
    margin-top: 1px;
}

.cartTotal{
    font-size: 1.5em;
    margin: 1px 1px 5px 1px;
}