/* Main movie page styles */

.container-body-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    
    height: 100%;
}

.movie-info-body {
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 1200px;
    position: relative;
    background-size: contain;
    margin-bottom: 3em;
    
}

/* Black overlay */


.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Black with 60% opacity */
    width: 100%;
    height: 100%;
    position: absolute;  
    top: 0;
    left: 0;
    z-index: 1;  /* Ensure the overlay is above the image */
}
.play-button, .movie-top-header, .movie-data-grid {
    position: relative; /* This ensures that the z-index works correctly */
  }
  .play-button, .movie-top-header, .movie-data-grid {
    z-index: 3;
}


.play-button {
    width: 150px;
    height: 150px;
    background-image: url('../images/play.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;          /* This combined with transform will center the play button */
    transform: translateX(-50%);
    
}
.buyButton {
    width: 5em;
    height: 2.5em;
    top: 1em;
    background-color: #5271ff;
    color: white;
    border-radius: 8px;
    position: relative;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
  }
    
    


@media (min-width: 768px) {
    .movie-info-body {
      width: 50vw;
      height: auto;
      margin: 50px auto;
    }
}

.movie-top-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.movie-label {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #FFFFFF;
}

.movie-data-grid {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.movie-row-left, .movie-row-right, .movie-row-far-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0px;  /* Increased gap for more space */
}

.header-subheader {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-subheader h4 {
    margin: 0;
    font-size: 1rem;
    color: #FFFFFF;
}

.header-subheader h5 {
    margin: 0;
    font-size: 0.8rem;
    color: #e9e4e4;
}

