.menu-bar {
  position: relative;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  height: 55px;
  overflow: hidden;
}
  
.menu-bar a {
  color: #030303;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  text-decoration: inherit;
}

h1{
  text-align: center;
  margin-top: 0;
}
  
.menu-bar .icon {
  color: #f2f2f2;
  display: none;
  cursor: pointer;
}

.menu-bar .base-link {
  display: none;
}

.menu-bar a.icon {
  float: right;
  display: block;
}

.menu-bar.responsive {
  position: relative;
  transition: height 0.25s ease-in-out;
  height: 300px;
}

.menu-bar.responsive .container-nav-link{
  position:absolute;
  margin-top: 55px;
  right:0;
  width:150px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.menu-bar.responsive .container-nav-link-search{
  position:absolute;
  margin-top: 20px;
  right:0;
  width:150px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.menu-bar .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-bar.responsive .base-link {
  float: none;
  display: block;
  text-align: right;
}

.menu-bar .home-link{
  position: absolute;
  left:0;
  font-size: 20px;
 
}

.home-link img{
  cursor: pointer;
  height: 35px;
}

.menu-bar .search-link{
  position:absolute;
  right:0;
  font-size: 20px;
  margin-right: 50px;
  color:white;
  cursor: pointer;
  
}

.menu-bar .search-link-disabled{
  display: none;
}


.menu-bar .search-field{
  display: flex;
  height: 40px;
  border: 1px rgb(209, 200, 200) solid;
 
  border-radius: 10px;
  margin-left: 130px;
  margin-right:50px;
  margin-top: 10px;
  width: calc(100vw - 200px);
  min-width: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  -webkit-animation:linear;
  -webkit-animation-name: run;
  -webkit-animation-duration: 0.4s;
  
}

@-webkit-keyframes run {
  0% { left: 50%;width: calc(50vw - 194px);}
  50%{ left : 25%;width:calc(75vw - 200px);}
  100%{ left: 0%;width: calc(100vw - 200px);}
  
}

.menu-bar .search-field-disabled{
  display: none;
 }

.menu-bar .search-field input{
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: large;
  color:white;

}

.menu-bar .search-button{
  font-weight: bolder;
  font-size: large;
  width:auto;
  height: calc(100% - 2px);
  /*background-color: #007AFF;*/
  margin-right: 1px;
  color:white;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bolder;

}

.menu-bar .search-button-nav{
  font-weight: bolder;
  font-size: large;
  width:auto;
  height: calc(100% - 2px);
  margin-right: 1px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.menu-bar .clear-button{
  font-weight: bolder;
  font-size: large;
  width:auto;
  height: calc(100% - 2px);
  background: none;
  border: none;
  margin-left: 1px;
  cursor: pointer;

}

.shoppingCart{
  position: absolute;
  right: 50px;
  top: 3px;
  width: 25px;

}
