.container-body-search{
    height: 100vh;
    overflow-y: scroll;
}

.container-body-search h1{
   text-align: center;
   margin-top: 10px;
   text-overflow: clip;
}

.container-search-field{
    display: flex;
    justify-content: center;
    width:50%;
    border-radius: 20px;
    height: 30px;
    margin-top: 80px;
    margin-left: 25%;
}

.container-search-field input{
    border-radius: 10px;
    width:80%;
    height: 100%;
    margin-right: 20px;
}

.container-search-field button{
    border-radius: 10px;
    height: 35px;
    background-color: white;
}

.moviePoster {
    width:200px;
    object-fit: cover;
}

.previewImage{
    width:200px;
    object-fit: cover;
}

.content {
    margin-top: 100px;
    display: flex;
    flex: 1 0 0px;
    flex-wrap:wrap;
    justify-content: center;
}

.preview {
    border: solid black 2px;
    border-radius: 8px;
    margin: 10px;
}

.previewTitle {
    width:200px;
}