.cart {
    padding: 1em;
    margin-top: 1em;
    
}

.cartHeader{
    font-size: 2em;
}

.cartList {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;   
    align-items: center;
    justify-content: center;
    
    
}

.cartItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.cartItemTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 20px;
    margin: .3rem;
    text-align: center;
}

.moviePoster{
    border-radius: 8px;
    height: auto;
    width: 15em;
}

.checkoutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.checkout_link{
    margin-top: 20px;
}
.checkout_btn{
    /* padding: 20px;
    background-color: blue;
    font-size: 2em;
    font-weight: 600;
    border-radius: 10px; */
    font-size: large;
    font-weight: bold;
    width: 8em;
    height: 4em;
    top: 1em;
    background-color:#5271ff;
    color: #ffde59;
    border-radius: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}